* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sans-serif', serif;
}

body {
  line-height: 1.6;
  color: #3e3e3e;
  padding-top: 20px;
}

#header {
  background: #f0f5f2;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  align-items: center;
  top: 0;
}

#header-img {
  height: 50px;
  margin-right: 1rem;
}

header h2 {
  flex: 1;
  text-align: left;
  font-size: 1.5rem;
}

#nav-bar {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #3e3e3e;
  font-weight: bold;
}

.nav-link:hover {
  color: #4c8c6c;
}

.intro {
  padding: 8rem 2rem 4rem;
  text-align: center;
  background: #f9f8f5;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#form {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#email {
  padding: 0.8rem;
  width: 250px;
  max-width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit {
  padding: 0.8rem 1rem;
  background-color: #6c9477;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  background-color: #fff;
}

.feature {
  flex: 1 1 200px;
  background-color: #e6eee7;
  padding: 4rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.3rem;
}

#how-it-works {
  text-align: center;
  padding: 3.5rem 1rem;
  background: #f4f4f4;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.plan {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.plan button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #6c9477;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #f3f1ed;
  font-size: 0.9rem;
}

footer a {
  color: #3e3e3e;
  text-decoration: none;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {

  #header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  header h2 {
    font-size: 1.4rem;
    margin-left: 01rem
  }

  #header-img {
    margin-left: 3rem;
  }

  #nav-bar {
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
  }

  .intro {
    padding: 10rem 1rem 3rem;
  }

  .intro h1 {
    font-size: 2rem;
  }

  #form {
    flex-direction: column;
    align-items: center;
  }

  #email,
  #submit {
    width: 90%;
    margin: 0.3rem 0;
  }

  .features, .pricing {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: auto;
    height: auto;
  }
}
